<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
      <script src="{{ url_for('static', filename='handleAddData.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h3>Profile Form</h3>
      <form onsubmit="handleAddData(event)">
         <label>Username</label>
         <input type="text" name="username" placeholder="username...">
         <label>Email</label>
         <input type="email" name="email" placeholder="email...">
         <label>Password</label>
         <input type="password" name="password" placeholder="password...">
         <button type="submit">Add</button>
      </form>
      <a href="/admin/">Back to Index</a>
   </body>
</html>