<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
      <script src="{{ url_for('static', filename='addData.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h3>Profile Form</h3>
      <form onsubmit="addData(event)">
         <label>Username</label>
         <input type="text" name="username" placeholder="username...">
         <label>Email</label>
         <input type="email" name="email" placeholder="email...">
         <label>Password</label>
         <input type="password" name="password" placeholder="password...">
         <button type="submit">Add</button>
      </form>
      <button type="button" onclick="window.location.href='/admin/'">Back to Index</button>
   </body>
</html>