<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add_data" method="POST">
         <label>Username</label>
         <input type="text" name="username" placeholder="username...">
         <label>Email</label>
         <input type="email" name="email" placeholder="email...">
         <label>Password</label>
         <input type="password" name="password" placeholder="password...">
         <button type="submit">Add</button>
      </form>
      <a href="/">Back to Index</a>
   </body>
</html>