<!DOCTYPE html>
<html>
   <head>
      <title>Admin Index Page</title>
      <script src="{{ url_for('static', filename='loadUsers.js') }}" defer></script>
      <script src="{{ url_for('static', filename='handleLogout.js') }}" defer></script>
      <script src="{{ url_for('static', filename='handleDelete.js') }}" defer></script>
   </head>
   <body>
      <h3>Profiles</h3>
      <a href="/admin/add_data">Create User</a>

      <br>
      <form action="/admin/show_users" method="get">
         <button type="submit">Show all Users</button>
      </form>
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody>

         </tbody>
      </table>

      <br>
      <a href="/logout">Logout</a>
   </body>
</html>