<!DOCTYPE html>
<html>
   <head>
      <title>Admin Index Page</title>
      <script src="{{ url_for('static', filename='loadObjects.js') }}"></script>
      <script src="{{ url_for('static', filename='handleLogout.js') }}"></script>
      <script src="{{ url_for('static', filename='handleDelete.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h3>Profiles</h3>
      <form action="/admin/show_users" method="get">
         <button type="submit">Show all Users</button>
      </form>
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody class="list-body">

         </tbody>
      </table>
      <br>
      <button type="button" onclick="window.location.href='/admin/add_data'">Create User</button>
      <br>
      <button type="button" onclick="window.location.href='/logout'">Logout</button>
   </body>
</html>