<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
   </head>
   <body>
      <h3>Profiles</h3>
      <a href="/add_data">Create User</a>

      <br>
      <form action="/show_users" method="get">
         <button type="submit">Show all Users</button>
      </form>
      {% if profiles %}
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody>
            {% for data in profiles %}
            <tr>
               <td>{{data.username}}</td>
               <td><a href="/user/{{data.id}}" type="button">Info</a></td>
               <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
            </tr>
         {% endfor %}
         </tbody>
      </table>
      {% endif %}

      <br>
      <h3>Notes</h3>
      <a href=""></a>
   </body>
</html>