<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
      <script src="{{ url_for('static', filename='loadUsers.js') }}"></script>
      <script src="{{ url_for('static', filename='handleDelete.js') }}"></script>
      <script src="{{ url_for('static', filename='loadNotes.js') }}"></script>
   </head>
   <body>
      <h3>Profiles</h3>
      <a href="/add_data">Create User</a>

      <br>
      <form action="/show_users" method="get">
         <button type="submit">Show all Users</button>
      </form>
      <table>
         <thead>
            <tr>
               <th>Username</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody>

         </tbody>
      </table>

      <br>
      <h3>Notes</h3>
      <a href="/add_note">Create Note</a>
      
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>title</th>
               <th>content</th>
               <th>created_at</th>
            </tr>
         </thead>
         <tbody class="notes-body">

         </tbody>
      </table>

      <br>
      <a href="/logout">Logout</a>
   </body>
</html>