<!DOCTYPE html>
<html>
    <head>
        <title>Note Info</title>
        <script src="{{ url_for('static', filename='loadInfo.js') }}"></script>
        <script src="{{ url_for('static', filename='handleUpdate.js') }}"></script>
        <script src="{{ url_for('static', filename='utils.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3>Note Info</h3>
        <ul id="note-info">

        </ul>
        <button type="button" onclick="window.location.href='/'">Back to Index</button>
    </body>
</html>