<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <div>
            <form action="/register" method="POST">
                <h3>Registration</h3>
                <label>Username</label>
                <input type="text" name="username" placeholder="username...">
                <label>Email</label>
                <input type="email" name="email" placeholder="email...">
                <label>Password</label>
                <input type="password" name="password" placeholder="password...">
                <button type="submit">Register</button>
                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %} 
                <a href="/login">Back to Login</a>
            </form>
        </div>
    </body>
</html>