<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
      <script src="{{ url_for('static', filename='loadObjects.js') }}"></script>
      <script src="{{ url_for('static', filename='handleLogout.js') }}"></script>
      <script src="{{ url_for('static', filename='handleDelete.js') }}"></script>
      <script src="{{ url_for('static', filename='utils.js') }}"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h3>Notes</h3>
      
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>title</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody class="list-body">

         </tbody>
      </table>
      <br>
      <button type="button" onclick="window.location.href='/add_note'">Create Note</button>
      <br>
      <button type="button" onclick="window.location.href='/logout'">Logout</button>
   </body>
</html>