<!DOCTYPE html>
<html>
   <head>
      <title>Index Page</title>
      <script src="{{ url_for('static', filename='loadObjects.js') }}" defer></script>
      <script src="{{ url_for('static', filename='handleLogout.js') }}" defer></script>
      <script src="{{ url_for('static', filename='handleDelete.js') }}" defer></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
      <h3>Notes</h3>
      <a href="/add_note">Create Note</a>
      
      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>title</th>
               <th>#</th>
               <th>##</th>
            </tr>
         </thead>
         <tbody class="list-body">

         </tbody>
      </table>

      <br>
      <a href="/logout">Logout</a>
   </body>
</html>